html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

}

body {
  font-family: 'League Spartan', sans-serif;
}


.header-conteiner {
 display: flex;
 padding-top: 104px;
 padding-left: 133px;
 padding-right: 240px;
 padding-bottom: 168px;
 width: 1440px;

 background: #f8f8f8;
}

.header-title {
  margin-bottom: 53px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;

  color: #161515;
}

.product-name {
  margin-bottom: 43px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  font-size: 250px;
  line-height: 230px;

  color: #272727;
}

.product-description {
  margin-bottom: 61px;
  width: 575px;
  height: 142px;
  left: 135px;
  top: 447px;

  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
 
  color: #161515;
}

.purchase {
display: flex;
margin-bottom: 168px;
}

.purchase-link {
  position: absolute;
  width: 278px;
  height: 82px;
  left: 135px;
  top: 650px;
  font-family: 'League Spartan';

  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 32px;
  line-height: 30px;
 
  background: #161515;
  color:#ffffff;
}

.price {
  position: absolute;
  width: 143px;
  height: 82px;
  left: 413px;
  top: 650px;
  font-family: 'League Spartan';

  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 60px;

  background: #ffffff;
  color:black;
}

.watch-image {
   
  width: 720px;
  margin-top: -104px;
  margin-left: 50px;
 
}

.popular-title {
  margin-top: 43px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 45px;
  text-align: center;

  color: #000000;
}

.models-title {
  margin-bottom: 84px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 81px;
  text-align: center;

  color: #000000;
}

.item-wrapper{
margin: 0 auto;
width: 417px;
margin-bottom: 85px;
}

.image-son22 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 417px;
  height: 630px;
  margin-bottom: 67px;
 
  background: #f8f8f8;
}

.item-title {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 17px;
  
  color: #000000;
}

.item-description {

  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 85px;

  color: #161515;
}

.image-sw12 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 417px;
  height: 630px;
  margin-bottom: 67px;
 
  background: #f8f8f8;
}

.item-title-sw12 {
  
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 59px;

  color: #161515;
}

.product-description-wrapper{
  margin: 0 auto;
  width: 515px;
  margin-bottom: 85px;

}

.title-description-title {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 58px;
  padding-bottom: 9px;
  border-bottom: 1px solid #707070;
}

.product-description {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 41px;
  text-align: center;
}

.product-description-link {
  color:#bb8b5d;
}